.git
.github
.venv
.vscode
.idea
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.env
.venv
ci/
Dockerfile
docker-compose.yml
